# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches-ignore:
      - 'skip-ci-*'
  pull_request:
    branches-ignore:
      - 'skip-ci-*'
    
env:
    REPOSITORY_MIRROR: "git@github.com:EpitechPromo2027/B-FUN-500-NAN-5-2-glados-florent.charpentier.git"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Fetch repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

  tests:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Fetch repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name : run_tests
        run: |
          make testrun
      
  push:
    needs: tests
    runs-on: ubuntu-latest


    if: ${{ github.event_name == 'push' }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          target_repo_url: ${{ env.REPOSITORY_MIRROR }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
      
      - name: Push changes
        uses: pixta-dev/repository-mirroring-action@v1
        with: 
            fetch-depth: 0
            target_repo_url: ${{ env.REPOSITORY_MIRROR }}
            ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
